@model IEnumerable<ToDoList.Models.ToDo>

@{
    ViewData["Title"] = "Index";
}

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions {
    public object RenderAntiForgeryToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div id="tableContainer">
    @Html.Partial("_ToDoTablePartial", Model)
</div>

<script>
    var globalVars = {
        token: '@RenderAntiForgeryToken()'
    };
</script>

@section Scripts {
    <script src="~/js/todoHandlers.js"></script>
}
